:root {
  --gradient: linear-gradient(
    90deg,
    #ffffff,
    rgb(212, 240, 212),
    rgba(236, 179, 179, 0.786),
    rgb(196, 230, 234)
  );
}
.body {
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 10s infinite linear alternate;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0 100px 0 100px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

nav {
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.around_nav {
  border-radius: 100px;
  overflow: hidden; /* Oculta el contenido que sobresale del óvalo */
  background-color: #c06060; /* Color de fondo del contenedor */
  min-width: 50%;
  margin: 0 auto; /* Centra horizontalmente el contenedor */
}

.title {
  order: 0;
  font-size: 2.5vw;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  order: 2;
}
.image_container {
  display: flex;
  justify-content: right;
}
.image {
  order: 1;
  width: 60%;
  height: auto;
}

.btn_nav {
  min-width: 120px;
  max-width: 30px;
  min-height: 55px;
  max-height: 50px;
  border-radius: 100px;
  background-color: #9a70b8;
  display: flex; /* Utiliza flexbox para centrar verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center;
  margin: 0 9px;
}
.text_btn {
  all: unset;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: "Raleway";
  src: url(../public/Raleway-VariableFont_wght.ttf);
}

.Raleway-bold {
  font-family: Raleway;
  font-weight: bold;
}

.Raleway {
  font-family: Raleway;
}

/* Para moviles */
@media screen and (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .image_container {
    display: flex;
    justify-content: center;
  }
  .image {
    order: 1;
    width: 75%;
    height: auto;
  }
}
